apiVersion: apps/v1
kind: Deployment
metadata:
  name: ds-service
  namespace: churninsight
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ds-service
  template:
    metadata:
      labels:
        app: ds-service
    spec:
      containers:
        - name: ds-service
          image: <REGISTRY>/<NAMESPACE>/churninsight-ds:latest
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 20
